body{
    color: rgba(255, 255, 255, .5);
    font-family: 'Nunito', sans-serif;
}
header{
    background: url(../images/bg-masthead.jpg) no-repeat center bottom;
    background-size: cover;
    height: 750px;
    width: 100%;
}
#built{
    background: -webkit-linear-gradient(linear, left top, left bottom, from(#161616), color-stop(75%, rgba(22, 22, 22, .9)), to(rgba(22, 22, 22, .8)));
    background: linear-gradient(to bottom, #161616 0, rgba(22, 22, 22, .9) 75%, rgba(22, 22, 22, .8) 100%);
}
#projects h4{
    color: #212528;
}
.projects-section .featured-text{
    padding: 0 0 0 2rem;
    border-left: .5rem solid #64a19d;
}
.projects-section .project-text hr{
    border-color: #64a19d;
    border-width: .25rem;
    width: 30%;
}
.bg-black{
    background: #161616 !important;
}
.projects-section .project-text{
    padding: 5rem;
}
h1{
    color: -webkit-linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, 0));
    font-family: 'Varela Round', sans-serif;
    font-size: 6.5rem;
    letter-spacing: .8rem;
    text-transform: uppercase;
}
a{
    color: #64a19d;
}
a:hover,
a:active{
    color: #3c6360;
    text-decoration: none;
}
.navbar-light .navbar-nav .nav-link{
    color: rgba(255, 255, 255, .5);
}
.jumbotron,
#mainNav.navbar-shrink {
    background: none;
}
.btn-info{
    background: #64a19d;
    border-color: #64a19d;
    padding: 1.25rem 2rem !important;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .15rem;
}
.btn-info:hover,
.btn-info:active {
    background: #467370;
    border-color: #467370;
}
.navbar-brand{
    color: rgba(255, 255, 255, .5) !important;
}